.country img {
    width: 300px;
}
.country{
    border: 2px solid pink;
    border-radius: 10px;
    background-color: olivedrab;
    padding: 20px;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    color: #fff;
}
